.input {
  border: none;
  outline: none;
}

.input-search {
  padding: 13px 28px;
  border-radius: 5px;
  border: solid 1px;
  border-color: $primary-color;
  box-sizing: border-box;
  font-size: 15px;
}
