<main class="page-main">
  <div class="page-home">
    <section class="section-search">
      <h3 class="title">Search where you want to go</h3>
      <h4 class="slogan">Open your eyes to the hidden word</h4>
      <form action="" class="form-search">
        <input class="input input-search" type="text" placeholder="search">
        <input class="btn btn-search" type="submit" value="search">
      </form>
    </section>
    <section class="section-site clearfix">
      <h3 class="title">Most Popular Site</h3>
      <ul class="list-site clearfix">
        <li class="site-item">
          <a href="#">
            <div class="img-border">
              <div class="bg-img img-site" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
              <span class="site-name">Danang</span>
            </div>
          </a>
        </li>
        <li class="site-item">
          <div class="img-border">
            <div class="bg-img img-site" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
            <span class="site-name">Danang</span>
          </div>
        </li>
        <li class="site-item">
          <div class="img-border">
            <div class="bg-img img-site" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
            <span class="site-name">Danang</span>
          </div>
        </li>
        <li class="site-item">
          <div class="img-border">
            <div class="bg-img img-site" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
            <span class="site-name">Danang</span>
          </div>
        </li>
        <li class="site-item">
          <div class="img-border">
            <div class="bg-img img-site" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
            <span class="site-name">Danang</span>
          </div>
        </li>
        <li class="site-item item-center">
          <div class="wrap-item-center">
            <h4 class="item-title">MOST POPULAR SITE</h4>
            <button class="btn btn-view-all">View All Site</button>
          </div>
        </li>
        <li class="site-item">
          <div class="img-border">
            <div class="bg-img img-site" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
            <span class="site-name">Danang</span>
          </div>
        </li>
        <li class="site-item">
          <div class="img-border">
            <div class="bg-img img-site" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
            <span class="site-name">Danang</span>
          </div>
        </li>
        <li class="site-item">
          <div class="img-border">
            <div class="bg-img img-site" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
            <span class="site-name">Danang</span>
          </div>
        </li>
        <li class="site-item">
          <div class="img-border">
            <div class="bg-img img-site" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
            <span class="site-name">Danang</span>
          </div>
        </li>
        <li class="site-item">
          <div class="img-border">
            <div class="bg-img img-site" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
            <span class="site-name">Danang</span>
          </div>
        </li>
      </ul>
    </section>
    <section class="section-most-destination">
      <div class="wrap-title">
        <h4 class="title">Most Destination</h4>
      </div>
      <div class="container">
        <div class="tab-destination">
          <ul class="tab-buttons-list">
            <li class="tab-buttons-item">
              <button class="btn btn-tab">Shopping</button>
            </li>
            <li class="tab-buttons-item">
              <button class="btn btn-tab">Foody</button>
            </li>
            <li class="tab-buttons-item">
              <button class="btn btn-tab">Sightseeing</button>
            </li>
            <li class="tab-buttons-item">
              <button class="btn btn-tab">Travel</button>
            </li>
          </ul>
        </div>
        <ul class="destination-list">
          <li class="destination-item">
            <a href="#">
              <div class="destination-card">
                <div class="boder-image">
                  <div class="bg-img destination-image" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
                </div>
                <div class="destination-decription">
                  <h4 class="destination-name">destination name</h4>
                  <img class="icon-location" src="../assets/images/location.png" alt="icon">
                  <p class="address">178 Khánh Hội, P. 6, Quận 4, TP. HCM</p>
                </div>
                <div class="card-bottom">
                  <ul class="card-bottom-list">
                    <li class="card-bottom-item item-left">
                      <img class="icon-like item-left" src="../assets/images/like.png" alt="icon-like">
                      <span class="rating">69</span>
                    </li>
                    <li class="card-bottom-item item-right">
                      <img class="icon-arrow item-right" src="../assets/images/right-arrow.png" alt="icon-arrow">
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li class="destination-item">
            <div class="destination-card">
              <div class="boder-image">
                <div class="bg-img destination-image" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
              </div>
              <div class="destination-decription">
                <h4 class="destination-name">destination name</h4>
                <p class="address">178 Khánh Hội, P. 6, Quận 4, TP. HCM</p>
              </div>
              <div class="card-bottom">
                <ul class="card-bottom-list">
                  <li class="card-bottom-item item-left">
                    <img class="icon-like item-left" src="../assets/images/like.png" alt="icon-like">
                    <span class="rating">69</span>
                  </li>
                  <li class="card-bottom-item item-right">
                    <img class="icon-arrow item-right" src="../assets/images/right-arrow.png" alt="icon-arrow">
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="destination-item">
            <div class="destination-card">
              <div class="boder-image">
                <div class="bg-img destination-image" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
              </div>
              <div class="destination-decription">
                <h4 class="destination-name">destination name</h4>
                <p class="address">178 Khánh Hội, P. 6, Quận 4, TP. HCM</p>
              </div>
              <div class="card-bottom">
                <ul class="card-bottom-list">
                  <li class="card-bottom-item item-left">
                    <img class="icon-like item-left" src="../assets/images/like.png" alt="icon-like">
                    <span class="rating">69</span>
                  </li>
                  <li class="card-bottom-item item-right">
                    <img class="icon-arrow item-right" src="../assets/images/right-arrow.png" alt="icon-arrow">
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="destination-item">
            <div class="destination-card">
              <div class="boder-image">
                <div class="bg-img destination-image" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
              </div>
              <div class="destination-decription">
                <h4 class="destination-name">destination name</h4>
                <p class="address">178 Khánh Hội, P. 6, Quận 4, TP. HCM</p>
              </div>
              <div class="card-bottom">
                <ul class="card-bottom-list">
                  <li class="card-bottom-item item-left">
                    <img class="icon-like item-left" src="../assets/images/like.png" alt="icon-like">
                    <span class="rating">69</span>
                  </li>
                  <li class="card-bottom-item item-right">
                    <img class="icon-arrow item-right" src="../assets/images/right-arrow.png" alt="icon-arrow">
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="destination-item">
            <div class="destination-card">
              <div class="boder-image">
                <div class="bg-img destination-image" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
              </div>
              <div class="destination-decription">
                <h4 class="destination-name">destination name</h4>
                <p class="address">178 Khánh Hội, P. 6, Quận 4, TP. HCM</p>
              </div>
              <div class="card-bottom">
                <ul class="card-bottom-list">
                  <li class="card-bottom-item item-left">
                    <img class="icon-like item-left" src="../assets/images/like.png" alt="icon-like">
                    <span class="rating">69</span>
                  </li>
                  <li class="card-bottom-item item-right">
                    <img class="icon-arrow item-right" src="../assets/images/right-arrow.png" alt="icon-arrow">
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="destination-item">
            <div class="destination-card">
              <div class="boder-image">
                <div class="bg-img destination-image" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
              </div>
              <div class="destination-decription">
                <h4 class="destination-name">destination name</h4>
                <p class="address">178 Khánh Hội, P. 6, Quận 4, TP. HCM</p>
              </div>
              <div class="card-bottom">
                <ul class="card-bottom-list">
                  <li class="card-bottom-item item-left">
                    <img class="icon-like item-left" src="../assets/images/like.png" alt="icon-like">
                    <span class="rating">69</span>
                  </li>
                  <li class="card-bottom-item item-right">
                    <img class="icon-arrow item-right" src="../assets/images/right-arrow.png" alt="icon-arrow">
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="destination-item">
            <div class="destination-card">
              <div class="boder-image">
                <div class="bg-img destination-image" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
              </div>
              <div class="destination-decription">
                <h4 class="destination-name">destination name</h4>
                <p class="address">178 Khánh Hội, P. 6, Quận 4, TP. HCM</p>
              </div>
              <div class="card-bottom">
                <ul class="card-bottom-list">
                  <li class="card-bottom-item item-left">
                    <img class="icon-like item-left" src="../assets/images/like.png" alt="icon-like">
                    <span class="rating">69</span>
                  </li>
                  <li class="card-bottom-item item-right">
                    <img class="icon-arrow item-right" src="../assets/images/right-arrow.png" alt="icon-arrow">
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="destination-item">
            <div class="destination-card">
              <div class="boder-image">
                <div class="bg-img destination-image" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
              </div>
              <div class="destination-decription">
                <h4 class="destination-name">destination name</h4>
                <p class="address">178 Khánh Hội, P. 6, Quận 4, TP. HCM</p>
              </div>
              <div class="card-bottom">
                <ul class="card-bottom-list">
                  <li class="card-bottom-item item-left">
                    <img class="icon-like item-left" src="../assets/images/like.png" alt="icon-like">
                    <span class="rating">69</span>
                  </li>
                  <li class="card-bottom-item item-right">
                    <img class="icon-arrow item-right" src="../assets/images/right-arrow.png" alt="icon-arrow">
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="section-article">
      <div class="wrap-title">
        <h4 class="title">Article</h4>
      </div>
      <div class="container">
        <ul class="article-list">
          <li class="article-item">
            <div class="article-item-border clearfix">
              <div class="image-border">
                <div class="bg-img image-article" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
              </div>
              <div class="article-decription">
                <h4><a class="article-title" href="javascript:void(0)">title article</a></h4>
                <p class="text date">date: <span class="decription">4/1/1997</span></p>
                <p class="text author">by: <span class="decription">Hung</span></p>
                <p class="decription-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos molestiae aperiam possimus nulla voluptatem tempore iste recusandae atque architecto amet saepe dignissimos incidunt modi alias officiis dicta vero, quia voluptates.</p>
                <button class="btn btn-read-more">Read more</button>
              </div>
            </div>
          </li>
          <li class="article-item">
            <div class="article-item-border">
              <div class="image-border">
                <div class="bg-img image-article" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
              </div>
              <div class="article-decription">
                <h4><a class="article-title" href="javascript:void(0)">title article</a></h4>
                <p class="text date">date: <span class="decription">4/1/1997</span></p>
                <p class="text author">by: <span class="decription">Hung</span></p>
                <p class="decription-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos molestiae aperiam possimus nulla voluptatem tempore iste recusandae atque architecto amet saepe dignissimos incidunt modi alias officiis dicta vero, quia voluptates.</p>
              </div>
            </div>
          </li>
          <li class="article-item">
            <div class="article-item-border">
              <div class="image-border">
                <div class="bg-img image-article" style="background-image:url('http://i.imgur.com/tI5jq2c.jpg')"></div>
              </div>
              <div class="article-decription">
                <h4><a class="article-title" href="javascript:void(0)">title article</a></h4>
                <p class="text date">date: <span class="decription">4/1/1997</span></p>
                <p class="text author">by: <span class="decription">Hung</span></p>
                <p class="decription-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos molestiae aperiam possimus nulla voluptatem tempore iste recusandae atque architecto amet saepe dignissimos incidunt modi alias officiis dicta vero, quia voluptates.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</main>
