<header class="page-header">
    <div class="container">
      <nav class="nav-bar">
        <div class="logo-border">
          <a href="#">
            <img class="logo-header" src="../assets//images//logo.png" alt="logo">
          </a>
        </div>
        <ul class="menu-list-center">
          <li class="menu-center-item"><a class="text-menu" href="javascript:void(0)">Home</a></li>
          <li class="menu-center-item"><a class="text-menu" href="javascript:void(0)">Article</a></li>
          <li class="menu-center-item"><a class="text-menu" href="javascript:void(0)">Plan</a></li>
        </ul>
        <ul class="menu-list-right">
          <li class="menu-right-item">
            <a href="javascript:void(0)" class=" sign-up">Sign Up</a>
            <!-- <a href="javascript:void(0)"><img class="avatar-user" src="https://lh3.googleusercontent.com/-3gjg1TSDx8A/AAAAAAAAAAI/AAAAAAAAAAA/APUIFaNcn2YZ-YFZVxZxqMnAutzciPtcZA/s32-c-mo/photo.jpg" alt="avatar"></a> -->
          </li>
          <li class="menu-right-item">
            <a href="javascript:void(0)" class="sign-in">Sign In</a>
            <!-- <div class="wrap-icon-notifi">
              <a href="javascript:void(0)"><img class="icon-notifi" src="../assets//images/notification.png" alt="icon-notifi"></a>
              <p class="counter">1</p>
            </div> -->
          </li>
        </ul>
      </nav>
    </div>  
  </header>