$primary-color: #4353ff;
$secondary-color: #ff7e42;

$color-0: #fff;
$color-1: #000;
$color-2: #d0d0d0;
$color-3: #1f299a;

$text-color-0: #fff;
$text-color-1: #3a3434;
$text-color-2: #6b6b6b;
$text-color-3: #999;

$bg-color: #f5f5f5;
$bg-color-2: #fff;
$bg-color-3: #4242428f;
$bg-color-4: #4242424a;
$bg-color-5: #7a85f9;
$bg-color-6: #4353ff7d;

$font-size-1: 16px;
$font-size-2: 14px;
$font-size-3: 12px;
$font-size-4: 30px;
$font-size-5: 18px;
$font-size-6: 25px;
$font-size-7: 40px;
